@charset "utf-8";

main {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	background: rgb(253, 234, 234);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #a3616e;
}

li {
	float: left;
	border-right: 1px solid black;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: rgb(253, 234, 234);
	color: #9d3c50;
	font-weight: bold;
}

#tartalom {
	display: grid;
	grid-template-areas: "ke t ko";
}

.kereses {
	grid-area: ke;
}
.t {
	grid-area: t;
}
.kosar {
	grid-area: ko;
}
#ok {
	font-size: 10pt;
}

#rendezes {
	width: 170px;
}

article {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

article div {
	/* width: 80%; */
	padding: 5px;
	/* border: 1px solid gray; */
	border-radius: 5px;
	margin: 5px;
	background: lightcyan;
}

article img {
	width: 100%;
	border-radius: 5px;
}

article p {
	height: 50px;
}

article span {
	float: right;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
}

section {
	background-position: center;
	background-size: cover;
	background-image: url("../szappan/hatter.jpg");
	padding: 5px;
}

#kosar {
	background-color: rgb(239, 253, 253); /* opacity: 0.5; */
}

.termekek {
	padding: 5px;
}

h3 {
	color: #9d3c50;
  height: 30px;
}
button {
	background-color: #a3616e;
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #dfb2af;
	color: black;
}

.kosarTermek {
	display: grid;
	grid-template-areas: "n a x";
}

.neve {
	grid-area: n;
	width: 200px;
}
.ara {
	grid-area: a;
}

.x {
	grid-area: x;
	background-color: rgb(239, 253, 253);
	color: rgb(252, 134, 134);
	width: 20px;
	height: 20px;
	margin-top: 13px;
	border: 1px solid gray;
	border-radius: 10px;
	text-align: center;
	padding: 2px 2px;
}

#taf {
	display: block;
	color: white;
	text-align: center;
	padding: 2px 5px;
	text-decoration: none;
}

table {
	width: 100%;
}
table td {
	/* border: 1px solid #ddd; */
	padding: 6px;
}

form {
	padding-top: 30px;
	max-width: 500px;
	margin: auto;
}

label {
	text-align: right;
	padding-right: 5px;
}
fieldset {
	border-color: #022449;
	border-radius: 5px;
}
fieldset div {
	display: grid;
	grid-template-columns: 100px auto;
	padding: 5px;
}
legend {
	margin: 0 auto;
}

#ok {
	width: 100%;
	background-color: #a3616e;
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

#ok:hover {
	background-color: #dfb2af;
	color: black;
}

table tr:nth-child(even) {
	background-color: lightcyan;
}

table tr:hover {
	background-color: #dfb2af;
}

@media only screen and (max-width: 900px) {
  main {
		width: 100%;
	}
  #tartalom {
		grid-template-areas: "ke ke" "t ko";
	}
  .kereses {
		width: 30%;
		margin: auto;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 800px) {
	main {
		width: 100%;
	}

	.kosar {
		width: 250px;
	}
	#tartalom {
		grid-template-areas: "ke ke" "t ko";
	}

	.kereses {
		width: 25%;
		margin: auto;
		padding-bottom: 20px;
	}

	article {
		grid-template-columns: 50% 50%;
	}
	.neve {
		grid-area: n;
		width: 200px;
	}

	article p {
		height: 100px;
	}

	#kosar {
		position: fixed;
		top: 10;
		border-radius: 5px;
	}
	#tovabb {
		position: fixed;
		bottom: 0;
	}
}

@media only screen and (max-width: 590px) {
	.neve {
		width: 150px;
	}
}

@media only screen and (max-width: 430px) {
	/* main{width: 100%;} */
	.kosar {
		width: 150px;
	}
	#tartalom {
		grid-template-areas: "ke" "t ko";
	}

	#rendezes {
		width: 170px;
	}
	.kereses {
		width: 50%;
		margin: auto;
		padding-bottom: 20px;
	}

	article {
		grid-template-columns: 100%;
	}
	.neve {
		width: 100%;
	}

	article p {
		height: 100px;
	}
	section {
		background-position: top;
		background-size: auto;
		padding: 5px;
	}
}
